---
##################################################
### Vagrant Environment
##################################################
#
# Project Name
#
project: <project>

#
# Linux Distribution
#
# Possible values => centos, debian or ubuntu
#
linux_distro: centos

#
# VM IP Address
#
ip_addr: 10.12.12.2

#
# VM CPUs Number
#
vm_cpus: 2

#
# VM Memory in MB
#
vm_memory: 2048

#
# VM Hostname Suffix
#
hostname_suffix: local
