---
##################################################
### Vagrant Environment
##################################################
#
# Project Name
#
project : '<project>'

#
# Vagrant Box from Vagrant Cloud
#
# Possible values => 'debian/jessie64', 'centos/7', ...
#
vagrant_box : 'debian/jessie64'

#
# VM IP Address
#
ip_addr : '10.12.12.2'

#
# VM CPUs Number
#
vm_cpus : '2'

#
# VM Memory in MB
#
vm_memory : '2048'

#
# VM Hostname Suffix
#
hostname_suffix : 'local'
